/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.translateY {
  &:hover {
    transform: translateY(-2px);
    transition: 200ms;
  }
}

.z-index-2 {
    z-index: 2;
}

.desktop-padding {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (max-width: 768px) {
  .desktop-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.pagination {
  position: relative;
  margin: 50px 0 50px 0;
}